<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="header">
    <meta charset="UTF-8">
    <title>Схожі товари</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

</head>
<body>
<div class="container mt-1">

    <div><h3 th:text="'Схожі товари. Залишилось:  ' + ${count}"></h3></div>
    <br>

    <div class="alert alert-primary" role="alert">

        <div class="row">
            <div class="col-md-10">
                <div class="btn-group">
                    <form action="/similarity/skip" class="mr-1" method="post">
                        <input type="hidden" name="mainProductId" th:value="${product.mainProduct.id}">
                        <button type="submit" class="btn btn-warning">
                            <i class="material-icons mr-1">Пропустити</i>
                        </button>
                    </form>
                    <form action="/similarity/delete-skip" class="mr-1" method="post">
                        <input type="hidden" name="mainProductId" th:value="${product.mainProduct.id}">
                        <button type="submit" class="btn btn-success">
                            <i class="material-icons mr-1">Всі</i>
                        </button>
                    </form>
                    <form action="/similarity/random" class="mr-1" method="post">
                        <button type="submit" class="btn btn-secondary">
                            <i class="material-icons mr-1" th:text="${random} ? 'Випадково' : 'По імені'"></i>
                        </button>
                    </form>
                </div>
            </div>

            <div class="col-md-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Меню
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/report" th:if="${user.role.toString() == 'ROLE_ADMIN'}">Звіти</a>
                        <a class="dropdown-item" href="/logout">Вийти</a>
                    </div>
                </div>
            </div>

        </div>
    </div>





    <div><h1 th:text="${product.mainProduct.name}"></h1></div>
    <div><h3 th:text="${product.mainProduct.getBarcodesStringList()}"></h3></div>

    <ul>
        <li th:each="shopProductMain : ${product.mainProduct.shopProducts}"
            th:text="'Магазин ' + ${shopProductMain.shopId} + ' - ' + ${shopProductMain.code}"></li>
    </ul>
    <br>
    <div class="col-12 table-responsive">
        <table id="datatable" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Назва</th>
                <th>Штрихкод</th>
                <th style="width: 20px">Ваговий</th>
                <th style="width: 40px">Аналог</th>

            </thead>
            <tbody>
            <tr th:each="simProduct: ${product.similarityProducts}">
                <td>
                    <div th:text="${simProduct.name}"></div>
                    <ul>
                        <li th:each="shopProduct : ${simProduct.shopProducts}"
                            th:text="'Магазин ' + ${shopProduct.shopId} + ' - ' + ${shopProduct.code}"></li>
                    </ul>
                </td>
                <td th:text="${simProduct.getBarcodesStringList()}"></td>
                <td class="text-center">
                    <div th:switch="${simProduct.weight}">
                        <span th:case="true">Так</span>
                        <span th:case="false">Ні</span>
                    </div>
                </td>
                <td>
                    <div class="btn-group">

                                <form action="/similarity/analog" class="mr-1" method="post">
                                    <input type="hidden" name="simProductId" th:value="${simProduct.id}">
                                    <input type="hidden" name="mainProductId" th:value="${product.mainProduct.id}">
                                    <button type="submit" class="btn btn-success">
                                        <i class="material-icons mr-1">Так</i>
                                    </button>
                                </form>

                                <form action="/similarity/different" class="mr-1" method="post">
                                    <input type="hidden" name="simProductId" th:value="${simProduct.id}">
                                    <input type="hidden" name="mainProductId" th:value="${product.mainProduct.id}">
                                    <button type="submit" class="btn btn-danger">
                                        <i class="material-icons mr-1">Ні</i>
                                    </button>
                                </form>

                    </div>


                </td>
            </tr>
            </tbody>

        </table>
    </div>


</div>


</body>

</html>